<footer>


    <!-- SOCIAL-WRAP -->
    <div class="bgr-dark social-wrap padding">
        <a _ngcontent-gqa-c30 target="_blank" href="https://www.linkedin.com/in/valentina-kuxhausen-6210a1227/">
            <img src="assets/img/linkedin.png">
        </a>
        <a _ngcontent-gqa-c30 target="_blank" href="https://github.com/ValentinaKuxhausen">
            <img src="assets/img/github.png">
        </a>
    </div>


    <!-- DATA-WRAP -->
    <div class="data-wrap">
        <a href="#data-protection" routerLink="/data-protection">Data Protection</a>
        <a routerLink="/imprint">Imprint</a>
    </div>


    <!-- COPY-WRAP -->
    <div class="copy-wrap">
        <p>&copy; 2022 Valentina Kuxhausen</p>
    </div>


</footer>