// .about-wrap {
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
//     align-items: center;
// } 

// .profile-wrap {
//     width: 50%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;


//     img {
//         width: 250px;
//         height: 250px;
//         border-radius: 50%;
//         object-fit: contain;
//         cursor:default;
//     }
//     h2 {
//         font-size: 24px;
//     }
//     p {
//         text-align: center;
//         width: 70%;
//         font-size: 20px;
//         line-height: 24px;
//     }

//     strong {
//         color: #a03ce2;
//     }

// }

// .left_to_right {
//     position: relative;
//     animation: slide_left 855ms ease-in-out;
//     overflow: hidden;
// }

// .skills-wrap {
//     width: 50%;
//     border-radius: 5%;
//     padding-left: 32px;
//     font-size: 16px;
// }

// // ANIMATION

// .skill-fly {
//     animation: skill-fly-animation 1.5s ease-in-out;
//     transform: scale(1) translateX(280px);
//  }

// @keyframes skill-fly-animation {
//     0% {
//         transform: scale(1);
//     }
//     33% {
//         transform: scale(1.33);
//     }
//     66% {
//         transform: scale(1.66);
//     }
//     100% {
//         transform: scale(1) translateX(280px);
//     }
// }

$size: 10rem;

.welcome-div {
    height: calc(100vh - 95px);
    color: white;
    background-color: #32465a;
    padding-top: 95px;
}

.welcome-top {
    height: 70%;
    display: flex;
    justify-content: center;
}

.welcome-top-left {
    .v {
        color: #a03ce2;
    }

    .e {
        color: #04c2c9;
    }
}

.welcome-text {
    height: 60%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.btn-div {
    display: flex;
    align-items: center;
}

.contact-button {
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    border-color: #04c2c9;
    border: 2px solid;
    color: #04c2c9;
    padding: 24px;
    padding-left: 88px;
    padding-right: 88px;

    &:hover {
        background-color: #04c2c9;    
        color: white;
        border-color: #04c2c9;   
        box-shadow: 0px $size * 0.3 $size 0px rgba(#04c2c9, 0.4);
    }
}

.welcome-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: inherit;
    padding-left: 90px;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    filter: grayscale(0.2);
    cursor: default;
}

.welcome-div-bottom {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 1500px) {
    .welcome-text {
        font-size: 44px;
    }

    .profile-img {
        width: 290px;
        height: 290px;
    }

}

@media (max-width: 1045px) {
    .welcome-text {
        font-size: 44px;
    }

    .profile-imge {
        width: 250px;
        height: 250px;
    }

    .contact-button {
        padding-left: 45px;
        padding-right: 45px;
    }

    .welcome-text {
        font-size: 32px;
    }
}

@media (max-width: 850px) and (min-height: 600px) {
    .welcome-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 850px) {

    .welcome-text {
        font-size: 24px;
        text-align: center;
        margin-bottom: 16px;
    }

    .welcome-div-top {
        flex-direction: column-reverse;
        align-items: center;
        height: 67%;
    }

    .btn-div {
        padding-left: 0px;
        justify-content: center;
    }

    .welcome-top-right {
        padding-right: 0;
        padding-left: 0;
    }

    .welcome-text {
        padding-left: 0px;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


@media (max-width: 1240px) and (orientation : landscape) {

    .welcome-text {
        padding-left: 60px;
        font-size: 32px;
    }

    .btn-div {
        padding-left: 60px;
    }

    .welcome-div-top {
        flex-direction: unset;

    }

    .welcome-top-right {
        padding-right: 60px;
    }

    .welcome-text {
        padding-top: unset;
        padding-bottom: 4px;
    }

    .arrow {
        padding-top: 12px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) and (max-height: 480px) {
    .profile-img {
        width: 110px;
        height: 110px;
    }

}

@media (max-width: 480px) and (min-height: 1000px) {

    .profile-img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 320px) {

    .profile-img {
        margin-top: 42px;
    }
}

@media (max-width: 480px) and (orientation : landscape) {
    .welcome-div-top {
        height: unset;
    }

    .welcome-text {
        font-size: 18px;
    }

    .profile-img {
        width: 140px;
        height: 140px;
    }

    .contact-button {
        padding-left: 20px;
        padding-right: 20px;
    }


}

.left-to-right {
    position: relative;
    animation: slide_left 855ms ease-in-out;
    overflow: hidden;
}

@keyframes slide_left {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide_right {
    from {
        transform: translateX(200px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}