<div id="about" class="bgr-bright height-vh padding padding-top-bottom">
    <h1 class="center bottom">ABOUT</h1>
    <!-- GESAMTE ABOUT-WRAP -->
    <div class="about-wrap">

        <!-- PROFILE-WRAP -->
        <div class="profile-wrap">
            <img src="assets/img/kreis.png">
            <h2>Who I am</h2>
            <p>
                I'm an enthusiastic <strong>guitarist, drumer</strong>
                and a <strong>Front-End Developer</strong> who loves pushing boundaries.
            </p>
        </div>

        <!-- SKILLS-WRAP -->
        <div class="skills-wrap">
            <h1 (click)="event=!event">
                click to see my skills
            </h1>
            <div @fadeIn class="skill-bar" *ngFor="let i of skills">
                <div>{{ i }}</div>
            </div>
        </div>
        
    </div>
</div>