.height-vh {
    height: 100vh;
    // overflow: hidden;
    // width: 100vw;
}

.about-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
} 

.profile-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;


    img {
        width: 16rem;
        height: 16rem;
        border-radius: 50%;
        object-fit: contain;
        cursor:default;
    }
    h2 {
        font-size: 1.8rem;
    }
    p {
        text-align: center;
        width: 60%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    strong {
        color: #a03ce2;
    }

}

.skills-wrap {
    width: 50%;
    border-radius: 5%;
    padding-right: 2rem;
    font-size: 1rem;
}

