<div class="welcome-section">
    <div class="welcome_section_top">
        <div class="welcome_section_top_left">
            <div class="welcome_text_div">
                <div class="left_to_right welcome_text">
                    <b>Hi,<br>
                        I´m <span class="name">Valentina</span> Kuxhausen <br>
                        Guitarist and<br>
                        Front End Develop<span class="e">e</span>r</b>
                </div>
            </div>
            <div class="contact_btn_div">
                <a href="#contact"> <button class="button_blue transition"><b>Contact Me</b></button>
                </a>
            </div>
        </div>
        <div class="welcome_section_top_right">
            <img class="right_to_left main_picture" src="assets/img/kreis.png">
        </div>
    </div>

    <div class="welcome_section_bottom">
        <a href="#my_skills">
            <div class="magnetic_container">
                <div class="magnetic_element">
                    <img class="" src="assets/img/arrow.png">
                </div>
                <div class="magnetic_background"></div>
            </div>
        </a>
    </div>

</div>