<div class="welcome-div">
    <div class="welcome-top">
        <div class="welcome-top-left">
            <div class="welcome-text">
                <div class="left-to-right">
                    <b>Hi,<br>
                        I´m <span class="v">Valentina</span> Kuxhausen <br>
                        Guitarist and<br>
                        Front End Develop<span class="e">e</span>r</b>
                </div>
            </div>
            <div class="btn-div">
                <a href="#contact"> <button class="contact-button transition"><b>Contact Me</b></button>
                </a>
            </div>
        </div>
        <div class="welcome-top-right">
            <img class="profile-img" src="assets/img/kreis.png">
        </div>
    </div>

    <!-- <div class="welcome_section_bottom">
        <a href="#my_skills">
            <div class="magnetic_container">
                <div class="magnetic_element">
                    <img class="" src="assets/img/arrow.png">
                </div>
                <div class="magnetic_background"></div>
            </div>
        </a>
    </div> -->

</div>