$size: 10rem;

h3 {
    font-size: 24px;
    color: #a03ce2;
    text-shadow: white;
}

p {
    color: #1c2733;
    font-weight: 500;
}

.my-projects-div {
    background-color: #1c2733;
}

.div-distance {
    padding-top: 128px;
    padding-bottom: 88px;
}

.my-projects-h {
    color: white;
    text-align: center;
}

.buttons-div {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.lila-button {
    width: 150px;
    background-color: transparent;
    border: 2px solid;
    border-color: #a03ce2;
    color: #a03ce2;
    font-size: 18px;
    padding: 24px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: #a03ce2;    
        border-color: #a03ce2;   
        box-shadow: 0px $size * 0.3 $size 0px rgba(#a03ce2, 0.1);
    }
}

.bottom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 32px;
}

.preview {
    width: 1155px;
    display: flex;
    justify-content: center;
}

.toggle-hover {
    color: white !important;
    background-color: #a03ce2 !important;
    border-color: #a03ce2 !important;
}


.skill-preview {
    width: 420px;
    height: 245px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 16px;
    background-color: white;
    opacity: 0.9;
}

.skill-preview-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    cursor: pointer;

}

.desc-hidden {
    width: 100%;
    height: 100%;
    opacity: 0;

    &:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.try-button {
    width: 150px;
    font-size: 18px;
    border-color: #a03ce2;
    border: 2px solid;
    color: #a03ce2;
    font-weight: bold;
    margin-top: 30px;
    padding: 24px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        background-color: #a03ce2;
        color: white;
        border-color: #a03ce2;
        font-weight: normal;
    }
}

@media (max-width: 1500px) {
    .my-projects-div {
        width: 100%;
        right: 0;
        left: 0;

    }

    .preview {
        width: 945px;
        flex-wrap: wrap;
    }
}

@media (max-width: 1040px) {
    .preview {
        width: 700px;
    }
}

@media (max-width: 480px) {
    .my-projects-h {
        font-size: 28px;
    }

    .try-button {
        padding: 16px;
        margin-top: 12px;
    }

    .lila-button {
        font-size: 16px;
    }

    .skill-preview {
        min-width: 320px;
        max-width: 320px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .buttons-div{
        align-items: center;
        flex-direction: column;
    }

    .lila-button {
        padding: 8px;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .skillpreview {
        transform: scale(0.9);

    }

    .preview {
        width: unset;
    }
}

@media (max-width: 480px) and (orientation: landscape) {
    .skill-preview {
        height: 200px;
    }
}

@media (max-width: 360px) {
    .skill-preview {
        min-width: 260px;
        max-width: 260px;
    }
}