.bgr-dark {
    background-color: #112233;
    color: white;
}

.project-img {
    width: 300px;
    height: 200px;
    cursor: pointer;
    padding: 5px;

    &:hover {
        opacity: 0.5;
    }
}



// .elpolloloco {

// }

// .pokedex {

// }

// .ringoffire {

// }

// .join {

// }