<div id="projects" class="bgr-dark padding padding-top-bottom">
    <h1 class="center">PROJECTS</h1>


    <div class="column">
        <span class="font-türkis">Please check out my projects. Select a project to try it online.</span>
        <!-- NGFOR PROJECTS -->
        <!-- PROJECT-WRAP -->
        <div class="column" *ngFor="let project of projects">


            <div class="project-wrap">
                <!-- IMG WRAP -->
                <div class="img-wrap">
                    <img class="project-img" src="{{ project.image }}">
                </div>
                <!-- INFO-WRAP -->
                <div class="info-wrap">
                    <span class="project-name"> {{ project.name }}</span>
                    <span class="project-desc"> {{ project.description }}</span>
                    <span class="project-tech">{{ project.technology }}</span>
                    <a class="project-link" target="_blank" href="{{ project.link }}">Try it online</a>
                </div>
            </div>

            <div class="separate-project">
            </div>

        </div>



</div>