<div id="projects" class="bgr-dark my-prijects-div div-distance">
    <div>
        <h1 data-aos="flip-right" data-aos-duration="800" class="my-projects-h">MY PROJECTS</h1>
    </div>
    <div class="bottom-div">
        <div class="preview">


            <div data-aos="zoom-in-right" data-aos-duration="800" class="skill-preview">
                <div class="desc-hidden">
                    <h3>Join</h3>
                    <p>Kanbanboard (developed with JavaScript)</p>
                    <a href="http://valentina-kuxhausen.developerakademie.net/gruppenarbeit-174/addtask.html" target="_blank">
                        <button class="try-button">Try Out</button></a>
                    <a href="https://github.com/LorenzFuchs/gruppenarbeit-174" target="_blank">
                        <button class="try-button">GitHub</button></a>
                </div>
                <img class="skill-preview-img" src="">
            </div>


            <div data-aos="zoom-in-right" data-aos-duration="800" class="skill-preview">
                <div class="desc-hidden">
                    <h3>Ring of Fire</h3>
                    <p>Cardgame (developed with Angular)</p>
                    <a href="http://ringoffire.valentinakuxhausen.com" target="_blank">
                        <button class="try-button">Try Out</button></a>
                    <a href="https://github.com/ValentinaKuxhausen/Ring-Of-Fire" target="_blank">
                        <button class="try-button">GitHub</button></a>
                </div>
                <img class="skill-preview-img" src="">
            </div>


        </div>
    </div>
</div>