.column-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: #04c2c9;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-fields {
    background-color: #3f5368;
    margin: 12px;
    padding: 16px;
    border-radius: 4px 4px 0 0;
}

.input {
    width: 500px;
    border: none;
    color: white;

    &:focus {
        outline: none;
    }
}

.textarea {
    width: 500px;
    height: 200px;
    border: none;
    color: white;

    &:focus {
        outline: none;
    }

}

::placeholder {
    color: white;
}

.button {
    background-color: #04c2c9;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 8px #04c2c9;
    }
}