<div id="contact" class="bgr-bright contact-div div-distance">
    <div class="contact-div-div">
        <div class="column-contact">
            <h1 data-aos="flip-right" data-aos-duration="800">CONTACT</h1><br>
            <span>Get in touch to work together?</span>
        </div>



        <form class="column-contact" #form action="https://valentinakuxhausen.com/send_mail.php" method="POST">


            <div class="h-input">
                <h4>Name</h4>
                <input data-aos="fade-right" data-aos-duration="800" name="name" required class="input"
                    placeholder="Enter your Name" type="text">
            </div>

            <div class="h-input">
                <h4>E-Mail</h4>
                <input data-aos="fade-right" data-aos-duration="800" name="email" required class="input"
                    placeholder="Enter your E-Mail Address" type="email">
            </div>

            <div class="h-input">
                <h4>Message</h4>
                <textarea data-aos="fade-right" data-aos-duration="800" name="message" required
                    class="input input-message" placeholder="Your message" rows="7"></textarea>
            </div>

            <div class="send-btn-div" data-aos="fade-right" data-aos-duration="800">
                <button (click)="form.submit()" type="submit" class="transition tuerkis-button">Send
                </button>
            </div>
        </form>
    </div>
</div>

<!-- <app-contact-success disabled *ngIf=""></app-contact-success> -->