<div id="contact" class="bgr-bright">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="center">CONTACT</h1>
    <span class="center">Get in touch to work together?</span>
    <div class="column">

        <input class="input contact-fields" type="text" placeholder="Your name">
        <input class="input contact-fields" type="text" placeholder="Your email">
        <textarea class="textarea contact-fields" placeholder="Your message"></textarea>
        <button class="button margin-bottom">Submit</button>
        <br>
        <br>
        <br>

    </div>
</div>