<div id="contact" class="bgr-dark padding padding-top-bottom">
    <h1 class="center">CONTACT</h1>
    <span class="center">Get in touch to work together?</span>


    <form #form action="https://valentina-kuxhausen.developerakademie.net/valentinakuxhausen/send_mail.php" method="POST" class="form">
        <div class="column-contact">


            <div>
                <input 
                class="input contact-fields" 
                type="text"
                name="name" 
                placeholder="Your name"
                required
                >
            </div>
            <div>
                <input 
                class="input contact-fields" 
                type="text" 
                name="email"
                placeholder="Your email"
                required
                >
            </div>            
            <div>
                <textarea 
                class="textarea contact-fields" 
                placeholder="Your message"
                name="message"
                rows="10"
                required
                ></textarea>
            </div>
            <div>
                <button 
                routerLink="/contactsuccess"
                (click)="form.submit()"
                class="button margin-bottom"
                type="submit"
                >Submit</button>
            </div>


        </div>
    </form>
</div>