header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;


    a {
        text-decoration: none;
        color: black;
        margin-left: 20px;

        &:hover {
            color: black(0,0,0,0.7)
        }
    }

    img {
        height: 30px;
        cursor: pointer;
    }
}

.lightLinks {
    a {
        color: white;

        &:hover {
            color: white(255,255,255,0.7)

        }
    }
}

.headerLight {
    background-color: black;
    box-shadow: 0 1px 3px 0 rgba(255,255,255,0.2);
}