.skill-icon {
    width: 30px;
    height: 30px;
}

.my-skills-div {
    background-color: #1c2733;
}

.div-distance {
    padding-top: 128px;
    padding-bottom: 48px;
}

.top-div {
    display: flex;
    justify-content: center;
}

.my-skills-h {
    color: white;
    font-size: 36px;
}

.bottom-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bottom-div-div {
    display: flex;
    justify-content: center;
    width: 1155px;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-top: 40px;

}

.skill-element-div {
    min-width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px 0px black;

}

.icon-circle {
    display: flex;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    margin-top: -30px;
    margin-bottom: 15px;

}

@media (max-width: 1500px) {
    .bottom-div-div {
        width: 945px;
    }
    
    .skill-element-div {
        min-width: 270px;
    }
}

@media (max-width: 1040px) {
    .bottom-div-div {
        width: 700px;
    }

}

@media (max-width: 850px) {
    .bottom-div-div {
        width: 400px;
    }

}

@media (max-width: 480px) {
    .my-skills-h {
        font-size: 28px;
    }

    .skill-element-div {
        min-width: 250px;
        height: 125px;
    }

    .bottom-div-div {
        padding-left: 0;
        padding-right: 0;
    }
}