<div id="my-skills" class="my-skills-div div-distance">
    <div class="top-div">
        <h1 data-aos="flip-right" data-aos-duration="800" class="my-skills-h">MY SKILLS</h1>
    </div>

    <div class="bottom-div">

        <div class="bottom-div-div">
            <div data-aos="fade-right" data-aos-duration="800" *ngFor="let skill of skills" class="skill-element-div">


                <div class="icon-circle">
                    <img class="skill-icon" src="assets/img/{{ skill.icon }}">
                </div>
                <div class="skill-name">
                    {{ skill.name }}
                </div>

            </div>
        </div>
    </div>
</div>