body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

// .row {
//     display: flex;
//     flex-direction: row;
// }

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img:hover {
    cursor: pointer;
}
